<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact Us 
                <small>We'd Love to Hear From You!</small>
            </h1>
        </div>

        <div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d964.9062985214431!2d121.03062473450379!3d14.677199413447168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b6d7bdf8907b%3A0x3a2fb86ac4f41e5d!2sBanahaw+Heals+Spa+Tandang+Sora+Branch!5e0!3m2!1sen!2ssg!4v1496209544398" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-8">
            <h3>Let's Get In Touch!</h3>
            <br />
            <form role="form" method="POST" action="#">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">Name</label>
                        <input type="text" name="contact_name" class="form-control" id="input1">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">Email Address</label>
                        <input type="email" name="contact_email" class="form-control" id="input2">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input3">Phone Number</label>
                        <input type="phone" name="contact_phone" class="form-control" id="input3">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Message</label>
                        <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <h3>Banahaw Heals Spa</h3>
            <h4>Tandang Sora Quezon City Branch</h4>

            <p>
                735 MC Square Building, Unit 201, <br />Tandang Sora corner Mindanao Ave. Quezon city
            </p>
 
            <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: 506-6935</p>
            <p><i class="fa fa-phone"></i> <abbr title="Mobile">M</abbr>:0916-7070201</p> 

            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
                    href="mailto:bhstandangsora@gmail.com">bhstandangsora@gmail.com</a></p>

            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Sunday: 11:00 AM to 11:00 PM</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/BHSTandangsora/" data-toggle="tooltip"
                                                            data-placement="top" target="_blank" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i> Follow us on Facebook</a></li>

            </ul>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->