


<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>THE MOST AUTHENTIC HEALING SPA IN THE PHILIPPINES</h2>
                <p>With our budget-friendly fees and quality service, coupled with the original services and relaxing ambiance, satisfied clients will definitely leave our establishment with an easy and refreshed feeling, making them eager to look forward for their next visit to BANAHAW Heals Spa.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">
    <div class="container">
        <h2 class="section-header-green"><strong>WE'VE MOVED! Come and visit us at our new location.</strong></h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="list-items">
                    <li>Healing and Relaxation is in your neighborhood.</li>
                    <li>Opposite St. James College along Tandang Sora Ave. cor Mindanao Ave.</li>
                    <li>Very accessible by foot or car. </li>
                    <li>With a budget-friendly rates and quality services.</li>
                    <li>Our staff and therapists will make you feel at home.</li>
                    <li>Experience the original BANAHAW Ambiance that will surely rejuvenate you body, mind and soul.</li>

                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="images/front.jpg">
            </div>
        </div>
        <!-- /.row -->

    </div>
    
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="images/combine.png">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Our distinct ambiance enhanced with nature inspired decors and the scent of aroma.</h2>
                <p>Just few reasons why you should Visit Banahaw Heals Spa.</p>
                <ul>
                    <li>Distinct branded Massage technique</li>
                      <li>Simple but Elegant Looking Interior Design</li>
                      <li>Cleanliness in the Spa</li>
                      <li>Clean and Good Service in the Spa</li>
                      <li>Operation Standards inside the Spa</li>
                      <li>Courteous and good Massage Therapist</li>

                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<br />


