<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Latest Promo</h1>

        </div>

    </div>


</div>
<!-- /.container -->

<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="images/summer_promo_banner.jpg">
            </div>            
            <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                <h2 class="section-header-green"><strong>PROMO ENDED! Beat the Summer Heat! Avail the Summer Promo! </strong></h2>                
                <h3 class="item-title">TAKE-ALL-YOU-CAN HEALING  <div class="sub">DURATION: APPROX. 2 HOURS</div></h3>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <ul>
                            <li>HAIR SPA &amp; BODY SCRUB</li>
                            <li>NETIBO HEALING</li>
                            <li>VENTUSA THERAPHY</li>
                            <li>CRANIO SACRAL THERAPHY</li>
                            <li>HILOT PAMANA HEALING MASSAGE</li>
                            <li>HOT TOWEL</li>
                            <li>BANAHAW TEA </li>
                        </ul>
                    </div>
                </div> 
                <p><em>*Terms and conditions may apply</em></p> 

            </div>

        </div>
        <!-- /.row -->

    </div>
    
    <!-- /.container -->

</div>
<!-- /.section -->



<!-- /.section -->